@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  margin: 0;
  background-color: rgb(8, 2, 35);
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50vw;
    min-height: 80vh;
    background-color: rgb(8 2, 35);
    backdrop-filter: blur(10px); 

    border: 1px solid rgba(255, 255, 255, 0.104);
    border-radius: 12px;


    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
}

h3{
    justify-content: center;

    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
}

.amount, .converter{
    display: flex;
    flex-direction: column;
    gap: 5px;

    margin: 20px;
    align-items: flex-start; 
    width: 90%;
}

.amount label, .converter label{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.amount input, .converter select{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    padding: 5px;
    width: 90%;

    background-color: rgb(34, 31, 47);
    border: 1px solid rgba(255, 255, 255, 0.827);
    border-radius: 5px;
}


.converter{
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    width: 90%;
}

.from, .to {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  width: 100%;
}


.converter button{
    background-color: transparent;
    border: 2px solid rgb(8, 2, 35);
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;

    margin-top: 17px;
    align-self: center;
}


.get-rate, .reset-rate{
    width: 90%;
    display: flex;
    justify-content: center;

    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: auto;
    margin-bottom: 20px;
}

.get-rate:hover, .reset-rate:hover{
    background-color: rgb(13, 13, 13);
    color: white;
    border: 1px solid white;
}

.conversion-result{
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
}